
@font-face {
  font-family: 'Cabin-bold';
  font-style: normal;
  src: url('../fonts/Cabin/Cabin-Bold.ttf') format("truetype"); /* IE9 Compat Modes */
  }

@font-face {
  font-family: 'Cabin-bold-Itallic';
  font-style: normal;
  src: url('../fonts/Cabin/Cabin-BoldItalic.ttf') format("truetype"); /* IE9 Compat Modes */
  }


@font-face {
  font-family: 'Cabin-Medium';
  font-style: normal;
  src: url('../fonts/Cabin/Cabin-Medium.ttf') format("truetype"); /* IE9 Compat Modes */
  }


@font-face {
  font-family: 'Cabin-Medium-Itallic';
  font-style: normal;
  src: url('../fonts/Cabin/Cabin-MediumItallic.ttf') format("truetype"); /* IE9 Compat Modes */
  }


@font-face {
  font-family: 'Cabin-Regular';
  font-style: normal;
  src: url('../fonts/Cabin/Cabin-Regular.ttf') format("truetype"); /* IE9 Compat Modes */
  }


@font-face {
  font-family: 'Cabin-Regular-Itallic';
  font-style: normal;
  src: url('../fonts/Cabin/Cabin-RegularItallic.ttf') format("truetype"); /* IE9 Compat Modes */
  }


@font-face {
  font-family: 'Cabin-SemiBold';
  font-style: normal;
  src: url('../fonts/Cabin/Cabin-SemiBold.ttf') format("truetype"); /* IE9 Compat Modes */
  }


@font-face {
  font-family: 'Cabin-SemiBold';
  font-style: normal;
  src: url('../fonts/Cabin/Cabin-SemiBold.ttf') format("truetype"); /* IE9 Compat Modes */
  }


@font-face {
  font-family: 'Cabin-SemiBold-Itallic';
  font-style: normal;
  src: url('../fonts/Cabin/Cabin-SemiBoldItallic.ttf') format("truetype"); /* IE9 Compat Modes */
  }


@font-face {
  font-family: 'Raleway-Black';
  font-style: normal;
  src: url('../fonts/Raleway/Raleway-Black.ttf') format("truetype"); /* IE9 Compat Modes */
  }


@font-face {
  font-family: 'Raleway-Black-Itallic';
  font-style: normal;
  src: url('../fonts/Raleway/Raleway-BlackItallic.ttf') format("truetype"); /* IE9 Compat Modes */
  }


@font-face {
  font-family: 'Raleway-Bold';
  font-style: normal;
  src: url('../fonts/Raleway/Raleway-Bold.ttf') format("truetype"); /* IE9 Compat Modes */
  }


@font-face {
  font-family: 'Raleway-Bold-Itallic';
  font-style: normal;
  src: url('../fonts/Raleway/Raleway-BoldItallic.ttf') format("truetype"); /* IE9 Compat Modes */
  }


@font-face {
  font-family: 'Raleway-Light';
  font-style: normal;
  src: url('../fonts/Raleway/Raleway-Light.ttf') format("truetype"); /* IE9 Compat Modes */
  }


@font-face {
  font-family:'Raleway-Light-Itallic';
  font-style: normal;
  src: url('../fonts/Raleway/Raleway-LightItalic.ttf') format("truetype"); /* IE9 Compat Modes */
  }


@font-face {
  font-family: 'Raleway-Medium';
  font-style: normal;
  src: url('../fonts/Raleway/Raleway-Medium.ttf') format("truetype"); /* IE9 Compat Modes */
  }


@font-face {
  font-family: 'Raleway-MediumItallic';
  font-style: normal;
  src: url('../fonts/Raleway/Raleway-MediumItallic.ttf') format("truetype"); /* IE9 Compat Modes */
  }


@font-face {
  font-family: 'Raleway-Regular';
  font-style: normal;
  src: url('../fonts/Raleway/Raleway-Regular.ttf') format("truetype"); /* IE9 Compat Modes */
  }


@font-face {
  font-family: 'Raleway-RegularItallic';
  font-style: normal;
  src: url('../fonts/Raleway/Raleway-RegularItallic.ttf') format("truetype"); /* IE9 Compat Modes */
  }

  @font-face {
    font-family: 'Montserrat-Bold';
    font-style: normal;
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format("truetype"); /* IE9 Compat Modes */
  }

  @font-face {
    font-family: 'Montserrat-ExtraBold';
    font-style: normal;
    src: url('../fonts/Montserrat/Montserrat-ExtraBold.ttf') format("truetype"); /* IE9 Compat Modes */
  }

  @font-face {
    font-family: 'Montserrat-Italic';
    font-style: normal;
    src: url('../fonts/Montserrat/Montserrat-italic.ttf') format("truetype"); /* IE9 Compat Modes */
  }

  @font-face {
    font-family: 'Montserrat-Light';
    font-style: normal;
    src: url('../fonts/Montserrat/Montserrat-Light.ttf') format("truetype"); /* IE9 Compat Modes */
  }

  @font-face {
    font-family: 'Montserrat-LightItalic';
    font-style: normal;
    src: url('../fonts/Montserrat/Montserrat-LightItalic.ttf') format("truetype"); /* IE9 Compat Modes */
  }


  @font-face {
    font-family: 'Montserrat-Medium';
    font-style: normal;
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf') format("truetype"); /* IE9 Compat Modes */
  }

  @font-face {
    font-family: 'Montserrat-Regular';
    font-style: normal;
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format("truetype"); /* IE9 Compat Modes */
  }


  @font-face {
    font-family: 'Montserrat-Black';
    font-style: normal;
    src: url('../fonts/Montserrat/Montserrat-Black.ttf') format("truetype"); /* IE9 Compat Modes */
  }


  @font-face {
    font-family: 'Neuton-Bold';
    font-style: normal;
    src: url('../fonts/Neuton/Neuton-Bold.ttf') format("truetype"); /* IE9 Compat Modes */
  }


@font-face {
  font-family: 'Neuton-Extra-Bold';
  font-style: normal;
  src: url('../fonts/Neuton/Neuton-ExtraBold.ttf') format("truetype"); /* IE9 Compat Modes */
}


@font-face {
  font-family: 'Neuton-Extra-Light';
  font-style: normal;
  src: url('../fonts/Neuton/Neuton-ExtraLight.ttf') format("truetype"); /* IE9 Compat Modes */
}


@font-face {
  font-family: 'Neuton-Light';
  font-style: normal;
  src: url('../fonts/Neuton/Neuton-Light.ttf') format("truetype"); /* IE9 Compat Modes */
}


@font-face {
  font-family: 'Neuton-Regular';
  font-style: normal;
  src: url('../fonts/Neuton/Neuton-Regular.ttf') format("truetype"); /* IE9 Compat Modes */
}


@font-face {
  font-family: 'Neuton-Regular-Italic';
  font-style: normal;
  src: url('../fonts/Neuton/Neuton-RegularItalic.ttf') format("truetype"); /* IE9 Compat Modes */
}
